<!--<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">{{title}}</a>
    <ul class="nav">
      	{{#linkTo 'home' tagName="li"}}
      		<a href="#"> Home</a>
      	{{/linkTo}}
      	{{#linkTo 'nextpage' tagName="li"}}
      		<a href="#"> NextPage</a>
      	{{/linkTo}}
    </ul>
  </div>
</div> -->

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">{{title}}</a>
  </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Download</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
