<div class="show-case">
	<h1>Skylo</h1>
	<p class="description">A <span class="heavy">Twitter Bootstrap</span> extension to add progress loader at the top of the page.</p>
	<div class="btns-grp">
		<div class="btn btn-default header-btn" id="demo">DEMO</div>
		<a href="https://github.com/colintoh/skylo" class="btn btn-default header-btn last" id="Download">DOWNLOAD</a>
	</div>

	<div class="social">
		<iframe src="http://ghbtns.com/github-btn.html?user=colintoh&repo=skylo&type=watch&count=true"
	  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	  <a href="https://twitter.com/share" class="twitter-share-button" data-via="p0larBoy">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<a href="https://twitter.com/p0larBoy" class="twitter-follow-button" data-show-count="false">Follow @p0larBoy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</div>




<div class="white-bg section compatibility quotes">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-3">
				<blockquote>
				  <p>Compatible with both Twitter Bootstrap <span class="heavy">2.3.2</span> and <span class="heavy">3.0</span></p>
				</blockquote>
			</div>
		</div>
	</div>
</div>


<div class="methods section">
	<div class="container">
		<h3>Methods</h3>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
			      <div class="col-md-4">
			      	<div id="start" class="btn btn-default btn-method">
				        start()
				    </div>
			      </div>
			      <div class="col-md-6 col-md-offset-2">
			        Start the loader
			      </div>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
			      <div class="col-md-4">
			        <div id="end" class="btn btn-default btn-method">
				        end()
				    </div>
			      </div>
			      <div class="col-md-6 col-md-offset-2">
			        Loader loads to 100% and fade out
			      </div>
			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
			      <div class="col-md-4">
			        <div id="set" class="btn btn-default btn-method">
				        set(50)
				    </div>
			      </div>
			      <div class="col-md-6 col-md-offset-2">
			      	Set position of the loading bar.
			      	<div class="code">[0 - 100]</div>
			      </div>
			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
			      <div class="col-md-4">
			        <div id="get" class="btn btn-default btn-method">
				        get()
				    </div>
			      </div>
			      <div class="col-md-6 col-md-offset-2">
			      	Get current position of the loading bar.
			      </div>
			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
			      <div class="col-md-4">
			        <div id="inch" class="btn btn-default btn-method">
				        inch(10)
				    </div>
			      </div>
			      <div class="col-md-6 col-md-offset-2">
			        Loader will inch forward according to the parameters set.
			        <div class="code">[0 - 100]</div>
			      </div>
			    </div>
			</div>
		</div>

	</div>
</div>

<div class="white-txt feedback section quotes">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<blockquote>
					<p>These seem to be all over hacker news now, but this is the nicest I've seen. The option to customize the theme of the loader is cool.</p>
					<span>
						<a href="https://news.ycombinator.com/user?id=garrettqmartin8">garrettqmartin8
						</a>
					</span>
				</blockquote>


			</div>
			<div class="col-md-4">
				<blockquote>
					<p>Hmm, haven't noticed those loading bars on Medium or Youtube, but the Chrome browser on my Android has it and I've always liked it. Props to you for noticing this and reacting on it by creating a plugin for a popular framework.</p>

					<p>I like the name to. Sky = top. Lo = LOad. And the design of the demo and doc is nicely done.</p>

					<p>Good job.</p>
					<span>
						<a href="http://forrst.com/people/PaulvdDool">
PaulvdDool
						</a>
					</span>
				</blockquote>
			</div>
		</div>
	</div>
</div>


<div class="main section">
	<div class="container">
		<h3>Customization</h3>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-12 sub-header">
						Initialize (Optional)
						<div class="code col-md-12 full-code">
								//Default Values <br>
								<br>
								$.skylo({ <br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'state': 'info', <br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'inchSpeed': 200, <br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'initialBurst': 5, <br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'flat': false <br>
								});
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-5 sub-header">
						state
						<div class="code">[ "info", "success", "warning", "danger" ]</div>
					</div>
					<div class="col-md-6 col-md-offset-1 sub-desc">
						Using Twitter Bootstrap default state, we can switch the theme of the loader.
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-4 sub-header">
						inchSpeed
						<div class="code">[milliseconds]</div>
					</div>
					<div class="col-md-6 col-md-offset-2 sub-desc">
						The loader can inch forward to signify loading. Adjust the inch speed so that the inching can appear fast or slow.
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
			      <div class="col-md-4 sub-header">
			        initialBurst
			        <div class="code">[0 - 100]</div>
			      </div>
			      <div class="col-md-6 col-md-offset-2 sub-desc">
			        When we start the loader, we set a initial burst of loading so that it kicks off the impression that the loading have begin. Adjust how much initial burst that you wanted.
			      </div>
			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
			      <div class="col-md-4 sub-header">
			        flat
			        <div class="code">[true/false]</div>
			      </div>
			      <div class="col-md-6 col-md-offset-2 sub-desc">
			        If true, remove the animated striped UI of the progress bar.
			      </div>
			    </div>
			</div>
		</div>


	</div>
</div>

<footer class="white-bg">
	<div class="container">
		Inspired by <a href="http://www.usabilitypost.com/2013/08/19/new-ui-pattern-website-loading-bars/#disqus_thread">UsabilityPost</a> , <a href="http://blog.ynh.io/2013/05/24/rebuild-youtubes-progress-bar.html#">ynh</a> , <a href="http://ricostacruz.com/nprogress/">NProgress</a>
	</div>
</footer>